* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.App > header {
  text-align: center;
  color: inherit;
}

.App > header > h1 {
  font-size: 24px;
  color: #166599;
}

button {
  background-color: #2195e2;
  color: white;
  opacity: 0.85;
}

button:hover {
  opacity: 1;
}

table {
  border-collapse: collapse;
}

textarea {
  outline: none;
  border: none;
  overflow: auto;
  resize: none;
  scrollbar-width: thin;
}

.recipeTable {
  margin: 0 auto;
}

.recipeTable > thead {
  background-color: #64d86a;
  color: white;
}

.recipeTable > thead > tr:first-child > th {
  background-color: #f53d3d;
  font-weight: bold;
  font-size: 1.5rem;
}

.recipeTable > thead > tr > th {
  padding: 12px;
}

.recipeTable > tbody > tr:nth-child(odd) {
  background-color: whitesmoke;
}

.recipeTable > tbody > tr:hover {
  background-color: #e7e7e7;
}

td.recipeTable {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.recipeName {
  text-align: center;
}

.recipeName textarea {
  text-align: center;
  color: #ca3131;
  background-color: inherit;
}

.materialsTable {
  outline: none;
  border: none;
  width: 100%;
  color: greenyellow;
}

.materialsTable > thead {
  background-color: #2195e2;
  color: white;
}

.materialsName {
  max-width: 8.75rem;
}

.materialsQuantity {
  outline: none;
  border: none;
  max-width: 4rem;
}

.materialsPrice {
  outline: none;
  border: none;
  max-width: 6.25rem;
}

.materialsAddNewRowBtn {
  width: 100%;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 0.1rem;
}

.materialsRowDeletebtn {
  outline: none;
  border: none;
}

.materialsCost {
  text-align: center;
  color: red;
}

.marketPrice {
  text-align: center;
  text-align: center;
  color: green;
}

.marketPrice input {
  text-align: center;
  color: green;
  outline: none;
  border: none;
  width: 90%;
  background-color: inherit;
}

.marketPrice input:focus, .marketPrice input:hover {
  border-bottom: 1px solid black;
}

.tax {
  text-align: center;
  color: red;
}

.profit {
  text-align: center;
  color: inherit;
}

.rowOptions {
  display: flex;
  flex-direction: column;
}

.rowOptions button {
  outline: none;
  border: none;
}

.deletebtn {
  background-color: #f53d3d;
  color: white;
}

.categoriesOptionsContainer {
  display: flex;
  flex-direction: column;
  max-width: 13.5%;
  left: 0.5rem;
  bottom: 0.5rem;
  position: fixed;
  background-color: #f7ffff;
  gap: 0.15rem;
}

.categoriesOptionAddContainer {
  display: flex;
  flex-direction: row;
}

.categoriesOptionAddContainerBtn {
  flex: 1 1;
}

.categoriesOptionsSearchFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.categoriesOptionsSearchFilter {
  width: 100%;
}

.categoriesOptionsSearchFilterResults {
  overflow: auto;
  scrollbar-width: thin;
  max-height: 120px;
}

.categoriesOptionsBtnContainer {
  display: flex;
  flex-direction: row;
}

.categoriesOptionsHidebtn {
  width: 100%;
}

.categoriesOptionCategoryName[data-tooltip] {
  position: relative;
}

.categoriesOptionCategoryName[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  transform: scale(0);
}

.categoriesOptionCategoryName[data-tooltip]:hover::before {
  position: relative;
  color: black;
  margin-right: 3px;
  transform: scale(1);
}

/*# sourceMappingURL=App.css.map */
